<div class="bottomBackground"></div>
<mat-grid-list cols="1" rowHeight="95%">
    <!-- Karta projektů -->
    <mat-grid-tile>
        <div class="container">
            <button mat-button [routerLink]='["/projectCreate"]' class="firstbtn">Nový projekt</button>
            <button mat-button [routerLink]='["/users"]' class="secondbtn">Uživatelé</button>
            <button mat-button [routerLink]='["/settings"]' class="thirdbtn">Nastavení</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>