
<div *ngIf="bugOrTask == 'tasks'" class="container">
    <table *ngIf="taskList" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let task" class="card">
                <button mat-button class="myButtonStyle" (click)="navigateToTask(task.id)">
                    <div class="card">
                        <div class="title"><b>{{ task.name }}</b></div>
                        <div class="description">{{ task.description }}</div>
                        <div class="participients">-</div>
                        <div class="status">
                            <i *ngIf="task.status == 'Dokončený'" class="material-icons">check_circle_outline</i>
                            <i *ngIf="task.status == 'Započatý'" class="material-icons">query_builder</i>
                            <i *ngIf="task.status == 'Nezapočatý'" class="material-icons">block</i>
                        </div>
                        <div class="labels" *ngIf="task.labels == 'Administrace'"></div>
                    </div>
                </button>
            </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-checkbox class="checkBoxStyle" (change)="checkValue($event)" >Archív</mat-checkbox>   
    <mat-paginator [hidePageSize]="true" style="position: absolute; left: 0; bottom: 0; width: 100%; height: 4vh; padding-bottom: 10px; font-size: 11px; color: #aaaaaa;"></mat-paginator>
</div> 

<div *ngIf="bugOrTask == 'bugs'" class="container">
    <table *ngIf="bugList" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let bug" class="card">
                <button mat-button class="myButtonStyle" (click)="navigateToBug(bug.id)">
                    <div class="card">
                        <div class="title"><b>{{ bug.name }}</b></div>
                        <div class="description">{{ bug.description }}</div>
                        <div class="participients">-</div>
                        <div class="status">
                            <i *ngIf="bug.status == 'Nový'" class="material-icons">fiber_new</i>
                            <i *ngIf="bug.status == 'Opravený'" class="material-icons">check_circle_outline</i>
                            <i *ngIf="bug.status == 'Rozpracovaný'" class="material-icons">query_builder</i>
                            <i *ngIf="bug.status == 'Potvrzený'" class="material-icons">thumb_up_alt</i>
                            <i *ngIf="bug.status == 'Nepotvrzený'" class="material-icons">thumb_down_alt</i>
                        </div>
                        <div class="labels" *ngIf="bug.labels == 'Administrace'"></div>
                    </div>
                </button>
            </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> 
    <mat-paginator [hidePageSize]="true" style="position: absolute; left: 0; bottom: 0; width: 100%; height: 4vh; padding-bottom: 10px; font-size: 11px; color: #aaaaaa;"></mat-paginator>
</div> 