.myCardStyle{
    width: 50%;
}

.myInputStyle{
    width: 40%;
    font-size: 14px;
}

.userList {
    padding: 10px;
    border: 1px solid #8a8a8a;
    border-radius: 3px;
    height: 20vh;
    overflow-y: auto;
  }

  button{
      margin: 3px;
  }