<h1 mat-dialog-title>Přidání bugu k projektu</h1>
<div mat-dialog-content>
    <form [formGroup]="bugForm" #formDir="ngForm">
        <mat-form-field>
            <input type="text" matInput [(ngModel)]="data.name" placeholder="Název bugu" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <pre><textarea matInput rows="4" [(ngModel)]="data.description" placeholder="Popis bugu" formControlName="description"></textarea></pre>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="data.priority" placeholder="Priorita" formControlName="priority">
                <mat-option value="Nízká">Nízká</mat-option>
                <mat-option value="Střední">Střední</mat-option>
                <mat-option value="Vysoká">Vysoká</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Štítky</mat-label>
            <mat-select multiple formControlName="LabelsString">
                <mat-option *ngFor="let label of labelList" [value]="label">{{ label }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Přiřazeno</mat-label>
            <mat-select multiple formControlName="AssignedString">
                <mat-option *ngFor="let user of participientList" [value]="user">{{ user }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="start" placeholder="Datum počátku" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="end" placeholder="Datum ukončení" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end disabled="false"></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()"> Storno </button>
    <button mat-button (click)="onOkClick(data.ownerId, data.projectId)" cdkFocusInitial>
       Přidat bug k projektu
    </button>
</div>